<div id="mse2_results" class="row px-3 mt-3">
  <div class="col-12 border rounded-3 my-3">
    <div class="row">

      <div class="col-12 border rounded-3 my-3">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12 pt-3">
                <a class="lead_3" href="oborud/videoregistratoryi/hd-cvi-videoregistratoryi/dhi-xvr4104c-i.html">
                  DHI-XVR4104C-I</a>
              </div>
              <div class="col-md-4 mt-3 position-relative pb-2">
                <a href="oborud/videoregistratoryi/hd-cvi-videoregistratoryi/dhi-xvr4104c-i.html"
                   class="stretched-link"><img class="img-fluid lazyload"
                                               data-src="/assets/images/products/21678/msmidle/dhi-xvr4104c-i.jpg"
                                               loading="lazy" width="260" height="195" alt="DHI-XVR4104C-I"
                                               title="DHI-XVR4104C-I"
                                               src="/assets/images/products/21678/msmidle/dhi-xvr4104c-i.jpg"></a>
              </div>
              <div class="col-md-8 py-3">
                <div class="row mb-3">
                  <div class="col"><span class="small text-muted">Артикул:</span> НФ-00076870</div>
                  <div class="col"><span class="small text-muted"> Производитель:</span> Dahua</div>
                </div>
                <p class="card-text">DHI-XVR4104C-I 4-канальный HDCVI-видеорегистратор c SMD. Формат видеосигнала:
                  HDCVI, AHD, TVI, IP, CVBS; отображение: до 1080p; запись: до 1080N@25к/с; кодирование: AI-Coding,
                  H.265+, H.265, H.264+, H.264; IP-каналы: до 5 каналов до 6Мп; накопители: 1 SATA III до 6Тбайт;
                  видеоаналитика: 4кн интеллектуальный детектор движения SMD Plus, интеллектуальный поиск, 1 HDMI, 1
                  VGA; сеть: 1 RJ45 100Мбит/с; аудиовх/вых: 1/1; питание: 12В(DC).</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 border-start bg-light p-4">
            <span class="small">Цена с НДС 20%</span>
            <ul class="list-unstyled mb-3">
              <li class="">
                <strong class="lead text-success">Цена: 6390&nbsp;<i class="fas fa-ruble-sign small"></i></strong>
              </li>
            </ul>
            <form method="post" class="form-inline ms2_form mb-1"><input type="hidden" name="id" value="21678"><input
                    type="hidden" name="options" value="[]"><input class="form-control" type="hidden" name="count"
                                                                   value="1">
              <div class="form-row align-items-center m-auto">
                <div class="col-12 mb-2">
                  <button class="btn btn-block btn-sm btn-primary" type="submit" name="ms2_action" value="cart/add"
                          onclick="if (!window.__cfRLUnblockHandlers) return false; yaCounter9617476.reachGoal('v-korzinu'); return true;">
                    <i class="fas fa-cart-arrow-down"></i> В корзину
                  </button>
                </div>
                <div class="col-12 mb-2">
                  <a href="oborud/videoregistratoryi/hd-cvi-videoregistratoryi/dhi-xvr4104c-i.html#"
                     class="oneClick btn btn-block btn-sm btn-secondary" data-hash="61de5525f0b48ed38293aeed0d8da06b"
                     data-product="21678"
                     onclick="if (!window.__cfRLUnblockHandlers) return false; yaCounter9617476.reachGoal('sdelat-zakaz'); return true;">Купить
                    в 1 клик</a></div>
              </div>
            </form>
            <span class="text-success"><strong>В наличии </strong><i class="fas fa-box"></i></span>
          </div>
        </div>
      </div>

      <div class="col-12 border rounded-3 my-3">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12 pt-3">
                <a class="lead_3" href="oborud/videoregistratoryi/hd-cvi-videoregistratoryi/dhi-xvr4104c-i.html">
                  DHI-XVR4104C-I</a>
              </div>
              <div class="col-md-4 mt-3 position-relative pb-2">
                <a href="oborud/videoregistratoryi/hd-cvi-videoregistratoryi/dhi-xvr4104c-i.html"
                   class="stretched-link"><img class="img-fluid lazyload"
                                               data-src="/assets/images/products/21678/msmidle/dhi-xvr4104c-i.jpg"
                                               loading="lazy" width="260" height="195" alt="DHI-XVR4104C-I"
                                               title="DHI-XVR4104C-I"
                                               src="/assets/images/products/21678/msmidle/dhi-xvr4104c-i.jpg"></a>
              </div>
              <div class="col-md-8 py-3">
                <div class="row mb-3">
                  <div class="col"><span class="small text-muted">Артикул:</span> НФ-00076870</div>
                  <div class="col"><span class="small text-muted"> Производитель:</span> Dahua</div>
                </div>
                <p class="card-text">DHI-XVR4104C-I 4-канальный HDCVI-видеорегистратор c SMD. Формат видеосигнала:
                  HDCVI, AHD, TVI, IP, CVBS; отображение: до 1080p; запись: до 1080N@25к/с; кодирование: AI-Coding,
                  H.265+, H.265, H.264+, H.264; IP-каналы: до 5 каналов до 6Мп; накопители: 1 SATA III до 6Тбайт;
                  видеоаналитика: 4кн интеллектуальный детектор движения SMD Plus, интеллектуальный поиск, 1 HDMI, 1
                  VGA; сеть: 1 RJ45 100Мбит/с; аудиовх/вых: 1/1; питание: 12В(DC).</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 border-start bg-light p-4">
            <span class="small">Цена с НДС 20%</span>
            <ul class="list-unstyled mb-3">
              <li class="">
                <strong class="lead text-success">Цена: 6390&nbsp;<i class="fas fa-ruble-sign small"></i></strong>
              </li>
            </ul>
            <form method="post" class="form-inline ms2_form mb-1"><input type="hidden" name="id" value="21678"><input
                    type="hidden" name="options" value="[]"><input class="form-control" type="hidden" name="count"
                                                                   value="1">
              <div class="form-row align-items-center m-auto">
                <div class="col-12 mb-2">
                  <button class="btn btn-block btn-sm btn-primary" type="submit" name="ms2_action" value="cart/add"
                          onclick="if (!window.__cfRLUnblockHandlers) return false; yaCounter9617476.reachGoal('v-korzinu'); return true;">
                    <i class="fas fa-cart-arrow-down"></i> В корзину
                  </button>
                </div>
                <div class="col-12 mb-2">
                  <a href="oborud/videoregistratoryi/hd-cvi-videoregistratoryi/dhi-xvr4104c-i.html#"
                     class="oneClick btn btn-block btn-sm btn-secondary" data-hash="61de5525f0b48ed38293aeed0d8da06b"
                     data-product="21678"
                     onclick="if (!window.__cfRLUnblockHandlers) return false; yaCounter9617476.reachGoal('sdelat-zakaz'); return true;">Купить
                    в 1 клик</a></div>
              </div>
            </form>
            <span class="text-success"><strong>В наличии </strong><i class="fas fa-box"></i></span>
          </div>
        </div>
      </div>

    </div>


  </div>
  </div>