<div class="offcanvas-sidebar-body p-3 border-start border-end">
    <form action="oborud/videoregistratoryi/hd-cvi-videoregistratoryi/" method="post" id="mse2_filters">
        <fieldset id="mse2_ms|price" class="disabled_fieldsets">
            <h4 class="filter_title">Цена</h4>

            <div class="form-group row">
                <label for="range_05" class="col-sm-2 control-label p-0 m-0"><b></b></label>
                <div class="col-sm-12">
                    <input type="text" id="range_05">
                </div>
            </div>
        </fieldset>
        <fieldset id="mse2_tv|availability"><h4 class="filter_title">Вавилова ул.</h4>
            <label for="mse2_tv|availability_0" class="">
                <input type="checkbox" name="tv|availability" id="mse2_tv|availability_0" value="1">
                <span>Да</span>&nbsp;<sup>6</sup>
            </label><br><label for="mse2_tv|availability_1" class="">
                <input type="checkbox" name="tv|availability" id="mse2_tv|availability_1" value="0">
                <span>Нет</span>&nbsp;<sup>11</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|availabilitytr"><h4 class="filter_title">Есть на складе</h4>
            <label for="mse2_tv|availabilitytr_0" class="">
                <input type="checkbox" name="tv|availabilitytr" id="mse2_tv|availabilitytr_0" value="1" checked="">
                <span>Да</span>&nbsp;<sup></sup>
            </label><br><label for="mse2_tv|availabilitytr_1" class="">
                <input type="checkbox" name="tv|availabilitytr" id="mse2_tv|availabilitytr_1" value="0">
                <span>Нет</span>&nbsp;<sup>+162</sup>
            </label><br></fieldset>
        <fieldset id="mse2_ms|vendor"><h4 class="filter_title">Производитель</h4>
            <label for="mse2_ms|vendor_0" class="">
                <input type="checkbox" name="ms|vendor" id="mse2_ms|vendor_0" value="22">
                <span>Dahua</span>&nbsp;<sup>15</sup>
            </label><br><label for="mse2_ms|vendor_1" class="">
                <input type="checkbox" name="ms|vendor" id="mse2_ms|vendor_1" value="55">
                <span>EZ-IP</span>&nbsp;<sup>2</sup>
            </label><br><label for="mse2_ms|vendor_2" class="disabled">
                <input type="checkbox" name="ms|vendor" id="mse2_ms|vendor_2" value="17" disabled="">
                <span>FOX</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_ms|vendor_3" class="disabled">
                <input type="checkbox" name="ms|vendor" id="mse2_ms|vendor_3" value="41" disabled="">
                <span>Nobelic</span>&nbsp;<sup>0</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|msync1c"><h4 class="filter_title">Свойство товара</h4>
            <label for="mse2_tv|msync1c_0" class="">
                <input type="checkbox" name="tv|msync1c" id="mse2_tv|msync1c_0" value="Проектное оборудование">
                <span>Проектное оборудование</span>&nbsp;<sup>1</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|typedvr"><h4 class="filter_title">Тип регистратора</h4>
            <label for="mse2_tv|typedvr_0" class="disabled">
                <input type="checkbox" name="tv|typedvr" id="mse2_tv|typedvr_0" value="HDCVI+IP+Аналог." disabled="">
                <span>HDCVI+IP+Аналог.</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|typedvr_1" class="disabled">
                <input type="checkbox" name="tv|typedvr" id="mse2_tv|typedvr_1" value="IP" disabled="">
                <span>IP</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|typedvr_2" class="">
                <input type="checkbox" name="tv|typedvr" id="mse2_tv|typedvr_2" value="Мультиформатный">
                <span>Мультиформатный</span>&nbsp;<sup>17</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|kvideokanalov"><h4 class="filter_title">Видеоканалы</h4>
            <label for="mse2_tv|kvideokanalov_0" class="">
                <input type="checkbox" name="tv|kvideokanalov" id="mse2_tv|kvideokanalov_0" value="4">
                <span>4</span>&nbsp;<sup>8</sup>
            </label><br><label for="mse2_tv|kvideokanalov_1" class="">
                <input type="checkbox" name="tv|kvideokanalov" id="mse2_tv|kvideokanalov_1" value="8">
                <span>8</span>&nbsp;<sup>5</sup>
            </label><br><label for="mse2_tv|kvideokanalov_2" class="">
                <input type="checkbox" name="tv|kvideokanalov" id="mse2_tv|kvideokanalov_2" value="16">
                <span>16</span>&nbsp;<sup>2</sup>
            </label><br><label for="mse2_tv|kvideokanalov_3" class="">
                <input type="checkbox" name="tv|kvideokanalov" id="mse2_tv|kvideokanalov_3" value="32">
                <span>32</span>&nbsp;<sup>2</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|kaudiokanalov"><h4 class="filter_title">Аудиоканалы</h4>
            <label for="mse2_tv|kaudiokanalov_0" class="">
                <input type="checkbox" name="tv|kaudiokanalov" id="mse2_tv|kaudiokanalov_0" value="1">
                <span>1</span>&nbsp;<sup>12</sup>
            </label><br><label for="mse2_tv|kaudiokanalov_1" class="">
                <input type="checkbox" name="tv|kaudiokanalov" id="mse2_tv|kaudiokanalov_1" value="4">
                <span>4</span>&nbsp;<sup>1</sup>
            </label><br><label for="mse2_tv|kaudiokanalov_2" class="disabled">
                <input type="checkbox" name="tv|kaudiokanalov" id="mse2_tv|kaudiokanalov_2" value="8" disabled="">
                <span>8</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|kaudiokanalov_3" class="">
                <input type="checkbox" name="tv|kaudiokanalov" id="mse2_tv|kaudiokanalov_3" value="16">
                <span>16</span>&nbsp;<sup>2</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|maksrazresheniezapisi"><h4 class="filter_title">Разрешение записи</h4>
            <label for="mse2_tv|maksrazresheniezapisi_0" class="">
                <input type="checkbox" name="tv|maksrazresheniezapisi" id="mse2_tv|maksrazresheniezapisi_0" value="960×1080 (2M-N)">
                <span>960×1080 (2M-N)</span>&nbsp;<sup>6</sup>
            </label><br><label for="mse2_tv|maksrazresheniezapisi_1" class="disabled">
                <input type="checkbox" name="tv|maksrazresheniezapisi" id="mse2_tv|maksrazresheniezapisi_1" value="1280×720 (1Mп)" disabled="">
                <span>1280×720 (1Mп)</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|maksrazresheniezapisi_2" class="">
                <input type="checkbox" name="tv|maksrazresheniezapisi" id="mse2_tv|maksrazresheniezapisi_2" value="1280×1920 (5M-N)">
                <span>1280×1920 (5M-N)</span>&nbsp;<sup>3</sup>
            </label><br><label for="mse2_tv|maksrazresheniezapisi_3" class="">
                <input type="checkbox" name="tv|maksrazresheniezapisi" id="mse2_tv|maksrazresheniezapisi_3" value="1920×1080 (2Mп)">
                <span>1920×1080 (2Mп)</span>&nbsp;<sup>1</sup>
            </label><br><label for="mse2_tv|maksrazresheniezapisi_4" class="">
                <input type="checkbox" name="tv|maksrazresheniezapisi" id="mse2_tv|maksrazresheniezapisi_4" value="2560×1920 (5Mп)">
                <span>2560×1920 (5Mп)</span>&nbsp;<sup>3</sup>
            </label><br><label for="mse2_tv|maksrazresheniezapisi_5" class="disabled">
                <input type="checkbox" name="tv|maksrazresheniezapisi" id="mse2_tv|maksrazresheniezapisi_5" value="2688×1520 (4Mп)" disabled="">
                <span>2688×1520 (4Mп)</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|maksrazresheniezapisi_6" class="disabled">
                <input type="checkbox" name="tv|maksrazresheniezapisi" id="mse2_tv|maksrazresheniezapisi_6" value="3072×2048 (6Мп)" disabled="">
                <span>3072×2048 (6Мп)</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|maksrazresheniezapisi_7" class="">
                <input type="checkbox" name="tv|maksrazresheniezapisi" id="mse2_tv|maksrazresheniezapisi_7" value="3840×2160 (8Мп)">
                <span>3840×2160 (8Мп)</span>&nbsp;<sup>3</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|makssizehdd"><h4 class="filter_title">Макс. Объем HDD</h4>
            <label for="mse2_tv|makssizehdd_0" class="">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_0" value="4 Тб">
                <span>4 Тб</span>&nbsp;<sup>1</sup>
            </label><br><label for="mse2_tv|makssizehdd_1" class="">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_1" value="6 Тб">
                <span>6 Тб</span>&nbsp;<sup>7</sup>
            </label><br><label for="mse2_tv|makssizehdd_2" class="disabled">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_2" value="8 Тб" disabled="">
                <span>8 Тб</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|makssizehdd_3" class="">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_3" value="10 Тб">
                <span>10 Тб</span>&nbsp;<sup>7</sup>
            </label><br><label for="mse2_tv|makssizehdd_4" class="disabled">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_4" value="12 Тб" disabled="">
                <span>12 Тб</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|makssizehdd_5" class="">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_5" value="24 Тб">
                <span>24 Тб</span>&nbsp;<sup>1</sup>
            </label><br><label for="mse2_tv|makssizehdd_6" class="disabled">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_6" value="40 Тб" disabled="">
                <span>40 Тб</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|makssizehdd_7" class="disabled">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_7" value="48 Тб" disabled="">
                <span>48 Тб</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|makssizehdd_8" class="disabled">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_8" value="64 Тб" disabled="">
                <span>64 Тб</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|makssizehdd_9" class="">
                <input type="checkbox" name="tv|makssizehdd" id="mse2_tv|makssizehdd_9" value="80 Тб">
                <span>80 Тб</span>&nbsp;<sup>1</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|locationtip"><h4 class="filter_title">Размещение</h4>
            <label for="mse2_tv|locationtip_0" class="">
                <input type="checkbox" name="tv|locationtip" id="mse2_tv|locationtip_0" value="19” стойка">
                <span>19” стойка</span>&nbsp;<sup>1</sup>
            </label><br><label for="mse2_tv|locationtip_1" class="">
                <input type="checkbox" name="tv|locationtip" id="mse2_tv|locationtip_1" value="Настольное">
                <span>Настольное</span>&nbsp;<sup>15</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|withoption"><h4 class="filter_title">Особенности</h4>
            <label for="mse2_tv|withoption_0" class="">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_0" value="AI сжатие записи">
                <span>AI сжатие записи</span>&nbsp;<sup>2</sup>
            </label><br><label for="mse2_tv|withoption_1" class="">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_1" value="POS-функции">
                <span>POS-функции</span>&nbsp;<sup>8</sup>
            </label><br><label for="mse2_tv|withoption_2" class="">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_2" value="Данные о объекте">
                <span>Данные о объекте</span>&nbsp;<sup>1</sup>
            </label><br><label for="mse2_tv|withoption_3" class="">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_3" value="Детекция лиц">
                <span>Детекция лиц</span>&nbsp;<sup>10</sup>
            </label><br><label for="mse2_tv|withoption_4" class="">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_4" value="Детекция людей">
                <span>Детекция людей</span>&nbsp;<sup>2</sup>
            </label><br><label for="mse2_tv|withoption_5" class="">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_5" value="Защита периметра">
                <span>Защита периметра</span>&nbsp;<sup>10</sup>
            </label><br><label for="mse2_tv|withoption_6" class="">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_6" value="Оствленные предметы">
                <span>Оствленные предметы</span>&nbsp;<sup>1</sup>
            </label><br><label for="mse2_tv|withoption_7" class="disabled">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_7" value="Пропавшие предметы" disabled="">
                <span>Пропавшие предметы</span>&nbsp;<sup>0</sup>
            </label><br><label for="mse2_tv|withoption_8" class="">
                <input type="checkbox" name="tv|withoption" id="mse2_tv|withoption_8" value="Распознавание лиц">
                <span>Распознавание лиц</span>&nbsp;<sup>6</sup>
            </label><br></fieldset>
        <fieldset id="mse2_tv|supportp2p"><h4 class="filter_title">Поддержка P2P</h4>
            <label for="mse2_tv|supportp2p_0" class="">
                <input type="checkbox" name="tv|supportp2p" id="mse2_tv|supportp2p_0" value="Да">
                <span>Да</span>&nbsp;<sup>17</sup>
            </label><br></fieldset> <button type="submit" class="btn btn-primary hidden my-2" data-dismiss="offcanvas-sidebar-toggle">Применить</button>
        <button type="reset" class="btn btn-light my-2" data-dismiss="offcanvas-sidebar-toggle">Сбросить</button>
    </form>
</div>







