<div class="col-3 col-md-3   p-0">
<div class="row">
    <div id="jquery-accordion-menu" class="jquery-accordion-menu black   m-0 p-0 col-11">
<!--        <div class="jquery-accordion-menu-header" id="form"></div>-->
        <ul id="demo-list">
            <li class="first border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu1"><i class="far fa-hand-paper fa-fw"></i> Готовые комплекты</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/vse-komplektyi/"
                                                                       role="menuitem"> Все комплекты</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="https://www.powervideo.ru/oborud/gotovyie-komplektyi/gotovyie-komplektyi-videonablyudeniya/?tv|withinstallation=%D0%94%D0%B0"
                                                                       role="menuitem"> Комплекты видеонаблюдения с
                            установкой</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/gotovyie-komplektyi-videonablyudeniya/"
                                                                       role="menuitem"> Готовые комплекты
                            видеонаблюдения</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/dlya-kvartiryi/"
                                                                       role="menuitem"> Готовые комплекты для квартиры</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/dlya-ofisa/"
                                                                       role="menuitem"> Готовые комплекты для офиса</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/dlya-podezda/"
                                                                       role="menuitem"> Готовые комплекты для подъезда</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/dlya-magazina/"
                                                                       role="menuitem"> Готовые комплекты для магазина</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/dlya-chastnogo-doma/"
                                                                       role="menuitem"> Готовые комплекты для частного
                            дома</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/za-nyanej/"
                                                                       role="menuitem"> Видеонаблюдение за няней</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/gotovyie-komplektyi-bez-ustanovki/"
                                                                       role="menuitem"> Готовые комплекты без установки</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/videodomofonov/"
                                                                       role="menuitem"> Готовые комплекты видеодомофонов</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/komplektyi-s-analitikoj/"
                                                                       role="menuitem"> Комплекты с аналитикой</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/gotovyie-komplektyi/gotovyie-komplektyi-4g/"
                                                                       role="menuitem"> 4G комплекты</a></li>
                    </ul>
            </li>
            <li class="nav-item border-bottom" role="none"><a class="nav-link"
                                                              href="oborud/teplovizoryi-opredeleniya-temperaturyi/"
                                                              role="menuitem"> <i class="fas fa-biohazard fa-fw"></i>
                Тепловизоры температуры</a></li>
            <li class="nav-item border-bottom" role="none"><a class="nav-link" href="oborud/sistemy-videoanalitiki/"
                                                              role="menuitem"> <i class="fas fa-diagnoses fa-fw"></i>
                Системы видеоаналитики</a></li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu4"><i class="fas fa-video fa-fw"></i> Видеокамеры</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/videokameryi-vse/"
                                                                       role="menuitem"> Видеокамеры Все</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/ip-kameryi-videonablyudeniya/"
                                                                       role="menuitem"> IP камеры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/hdcvi-kameryi-videonablyudeniya/"
                                                                       role="menuitem"> HDCVI камеры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/hd-tvi-kameryi-videonablyudeniya/"
                                                                       role="menuitem"> HD-TVI камеры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/analogovyie-kameryi-videonablyudeniya/"
                                                                       role="menuitem"> AHD камеры видеонаблюдения</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/teplovizoryi/"
                                                                       role="menuitem"> Тепловизоры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/dopolnitelnyie-aksessuaryi/"
                                                                       role="menuitem"> Аксессуары для камер</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/pultyi-ptz/"
                                                                       role="menuitem"> Дополнительные аксессуары</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kameryi-videonablyudeniya/arxiv-staryix-modelej/"
                                                                       role="menuitem"> Архив старых моделей</a></li>
                    </ul>
            </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu5"><i class="far fa-hdd fa-fw"></i> Видеорегистраторы</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/vse-videoregistratoryi/"
                                                                       role="menuitem"> Все видеорегистраторы</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/videoregistratoryi-ip-nvr/"
                                                                       role="menuitem"> IP (NVR)</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/hd-cvi-videoregistratoryi/"
                                                                       role="menuitem"> HD-CVI</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/hd-tvi-videoregistratoryi/"
                                                                       role="menuitem"> HD-TVI</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/hd-sdi-videoregistratoryi/"
                                                                       role="menuitem"> HD-SDI</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/ahd-videoregistratoryi/"
                                                                       role="menuitem"> AHD</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/vyigruzit-keno/"
                                                                       role="menuitem"> Macroscop</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/avtomobilnyie-videoregistratoryi/"
                                                                       role="menuitem"> Автомобильные</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/sistemyi-xraneniya-dannyix/"
                                                                       role="menuitem"> Системы хранения данных</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/nosimyie-videoregistratoryi/"
                                                                       role="menuitem"> Носимые видеорегистраторы</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/po-videonablyudeniya/"
                                                                       role="menuitem"> ПО видеонаблюдения</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/plati-video/"
                                                                       role="menuitem"> Платы видеозахвата</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/ip-videoserveryi/"
                                                                       role="menuitem"> Декодеры и кодеры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/videoregistratoryi/zhestkie-diski-hdd/"
                                                                       role="menuitem"> Внутренние жесткие диски (HDD)</a>
                        </li>
                    </ul>
            </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu6"><i class="far fa-bell fa-fw"></i> Видеодомофоны</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/ustanovka-videodomofona/vse-videodomofonyi/"
                                                                       role="menuitem"> Все видеодомофоны</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/ustanovka-videodomofona/videodomofonyi-atis/"
                                                                       role="menuitem"> Видеодомофоны Atis</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/ustanovka-videodomofona/videodomofonyi-ctv/"
                                                                       role="menuitem"> Видеодомофоны CTV</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/ustanovka-videodomofona/videodomofonyi-fox/"
                                                                       role="menuitem"> Видеодомофоны FOX</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/ustanovka-videodomofona/ip-videodomofonyi/"
                                                                       role="menuitem"> IP видеодомофоны</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/ustanovka-videodomofona/vyizyivnyie-paneli/"
                                                                       role="menuitem"> Вызывные панели</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/ustanovka-videodomofona/komplektyi-videodomofon-vyizyivnaya-panel/"
                                                                       role="menuitem"> Комплекты видеодомофон + вызывная
                            панель</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/ustanovka-videodomofona/bloki-sopryazheniya-videodomofonov-s-podezdnyimi-audio-domofonami/"
                                                                       role="menuitem"> Блоки сопряжения видеодомофонов</a>
                        </li>
                    </ul>
            </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu7"><i class="fas fa-door-open fa-fw"></i> Контроль доступа</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/sistemyi-kontrolya-dostupa/"
                                                                       role="menuitem"> Контроль доступа</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/avtonomnyie-kontroleryi/"
                                                                       role="menuitem"> Автономные контролеры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/terminalyi-dostupa/"
                                                                       role="menuitem"> Терминалы доступа</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/kontroleryi-liftov/"
                                                                       role="menuitem"> Контролеры лифтов</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/elektrozamki/"
                                                                       role="menuitem"> Замки и защелки</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/dovodchiki-dveri/"
                                                                       role="menuitem"> Доводчики двери</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/identifikatoryi/"
                                                                       role="menuitem"> Идентификаторы</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/schityivateli/"
                                                                       role="menuitem"> Считыватели</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/knopki-vyixoda/"
                                                                       role="menuitem"> Кнопки выхода</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/kontrol-dostupa/gibkie-perexodyi/"
                                                                       role="menuitem"> Аксессуары скуд</a></li>
                    </ul>
            </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu8"><i class="fas fa-bell fa-fw"></i> Сигнализация</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/signalizacziya/signalizacziya-ajax/"
                                                                       role="menuitem"> Сигнализация Ajax</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/signalizacziya/signalizacziya-saso/"
                                                                       role="menuitem"> Сигнализация SASO</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/signalizacziya/datchiki-rossiya/"
                                                                       role="menuitem"> Датчики Россия</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/signalizacziya/signalizacziya-dsc/"
                                                                       role="menuitem"> Сигнализация DSC</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/signalizacziya/signalizacziya-atis/"
                                                                       role="menuitem"> Сигнализация Atis</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/signalizacziya/signalizacziya-dahua/"
                                                                       role="menuitem"> Сигнализация Dahua</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/signalizacziya/signalizacziya-hikvision/"
                                                                       role="menuitem"> Сигнализация Hikvision</a></li>
                    </ul>

            </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu9"><i class="fas fa-network-wired fa-fw"></i> Сетевое оборудование</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/setevyie-kommutatoryi/poe-inzhektoryi-i-udliniteli/"
                                                                       role="menuitem"> PoE инжекторы и удлинители</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/setevyie-kommutatoryi/wi-fi-mostyi/"
                                                                       role="menuitem"> WI-FI мосты и точки доступа</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/setevyie-kommutatoryi/kommutatoryi/"
                                                                       role="menuitem"> Коммутаторы</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/setevyie-kommutatoryi/mediakonverteryi/"
                                                                       role="menuitem"> Медиаконвертеры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/setevyie-kommutatoryi/opticheskie-moduli/"
                                                                       role="menuitem"> Оптические модули</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/setevyie-kommutatoryi/usilenie-signala-3g-4g/"
                                                                       role="menuitem"> Усиление сигнала 3G / 4G</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/setevyie-kommutatoryi/routeryi/"
                                                                       role="menuitem"> Роутеры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/setevyie-kommutatoryi/aksessuaryi-dlya-setevogo-oborudovaniya/"
                                                                       role="menuitem"> Аксессуары для сетевого
                            оборудования</a></li>
                    </ul>

            </li>
            <li class=" border-bottom" role="none">
                <a class="" href="" ><i class="fas fa-plug fa-fw"></i> Блоки питания</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/vse-bloki-pitaniya/"
                                                                       role="menuitem"> Все блоки питания</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/akkumulyatoryi-dlya-blokov-pitaniya/"
                                                                       role="menuitem"> Аккумуляторы для блоков питания</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/istochniki-besperebojnogo-pitaniya-12v/"
                                                                       role="menuitem"> Источники бесперебойного питания
                            12В</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/istochniki-pitaniya-12v/"
                                                                       role="menuitem"> Источники питания 12В</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/istochniki-pitaniya-24v/"
                                                                       role="menuitem"> Источники питания 24В</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/istochniki-pitaniya-48v/"
                                                                       role="menuitem"> Источники питания 48В</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/istochniki-besperebojnogo-pitaniya-220v/"
                                                                       role="menuitem"> Источники бесперебойного питания
                            220В</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/istochniki-pitaniya-50v-i-bolee/"
                                                                       role="menuitem"> Источники питания 50В и более</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/istochniki-pitaniya-5v/"
                                                                       role="menuitem"> Источники питания 5В</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/aksesuaryi-dlya-bp/"
                                                                       role="menuitem"> Аксесуары для БП</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/bloki-pitaniya/preobrazovateli-napryazheniya/"
                                                                       role="menuitem"> Преобразователи напряжения</a></li>
                    </ul>
               </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu11"><i class="fab fa-intercom fa-fw"></i> Аудиодомофоны и Интеркомы</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/audi-peregovornie/podezdnyie-domofonyi/"
                                                                       role="menuitem"> Подъездные домофоны</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/audi-peregovornie/audiodomofonyi/"
                                                                       role="menuitem"> Аудиодомофоны</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/audi-peregovornie/interkomyi/"
                                                                       role="menuitem"> Интеркомы</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/audi-peregovornie/klient-kassir/"
                                                                       role="menuitem"> Клиент-кассир</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/audi-peregovornie/snyatyie-s-prodazhi-audiodomofonyi-i-komponentyi/"
                                                                       role="menuitem"> Снятые с продажи аудиодомофоны и
                            компоненты</a></li>
                    </ul>
            </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu12"><i class="fas fa-tasks fa-fw"></i> Все для монтажа CCTV</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/vse-dlya-montazha-cctv/instrumentyi/"
                                                                       role="menuitem"> Инструменты</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/vse-dlya-montazha-cctv/provoda-dlya-videonablyudeniya/"
                                                                       role="menuitem"> Провода и кабели</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/vse-dlya-montazha-cctv/shkafyi-i-yashhiki/"
                                                                       role="menuitem"> Шкафы и ящики</a></li>
                    </ul>
            </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu13"><i class="fas fa-compress-alt fa-fw"></i> Периферия для CCTV</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/grozozashhita/"
                                                                       role="menuitem"> Грозозащита</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/oxrannyie-monitoryi/"
                                                                       role="menuitem"> Охранные мониторы</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/zashhita-ot-pomex/"
                                                                       role="menuitem"> Защита от помех</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/preobrazovateli-signalov/"
                                                                       role="menuitem"> Преобразователи сигналов</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/videodekoderyi/"
                                                                       role="menuitem"> Видеодекодеры</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/videokonfirencziya/"
                                                                       role="menuitem"> Видеоконфиренция</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/razvetviteli-signalov/"
                                                                       role="menuitem"> Разветвители сигналов</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/usiliteli-signalov/"
                                                                       role="menuitem"> Усилители сигналов</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/kommutatoryi-signalov/"
                                                                       role="menuitem"> Коммутаторы сигналов</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/opticheskie-priemoperedatchiki/"
                                                                       role="menuitem"> Оптические приемопередатчики</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/priemoperedatchiki-po-ethernet/"
                                                                       role="menuitem"> Приемопередатчики по сети Ethernet
                            (LAN)</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/mikrofonyi/"
                                                                       role="menuitem"> Микрофоны</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/priemoperedatchiki/"
                                                                       role="menuitem"> Приемопередатчики по витой паре</a>
                        </li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/razyomyi/"
                                                                       role="menuitem"> Разъёмы</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/periferiya-dlya-cctv/kabelnyie-sborki-i-patchi/"
                                                                       role="menuitem"> Кабельные сборки и патчи</a></li>
                    </ul>
            </li>
            <li class=" border-bottom" role="none">
                <a class="nav-link collapsed" href="" role="button" data-toggle="collapse"
                   data-target="#menu14"><i class="fas fa-shield-alt"></i> Специальные решения</a>
                    <ul class="flex-column pl-3 nav submenu" role="none">
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/speczialnyie-resheniya/resheniya-po-kontrolyu-trafika/"
                                                                       role="menuitem"> Решения по контролю трафика</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/speczialnyie-resheniya/resheniya-dlya-transporta/"
                                                                       role="menuitem"> Решения для транспорта</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/speczialnyie-resheniya/resheniya-dlya-parkovok/"
                                                                       role="menuitem"> Решения для парковок</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/speczialnyie-resheniya/resheniya-dlya-zdanij/"
                                                                       role="menuitem"> Решения для зданий</a></li>
                        <li class="nav-item border-top" role="none"><a class="nav-link"
                                                                       href="oborud/speczialnyie-resheniya/videokonferenczsvyaz/"
                                                                       role="menuitem"> Видеоконференцсвязь</a></li>
                    </ul>
            </li>
            <li class="nav-item border-bottom" role="none"><a class="nav-link" href="oborud/aksessuaryi/" role="menuitem">
                <i class="fas fa-folder-plus fa-fw"></i> Аксессуары</a></li>
            <li class="nav-item border-bottom" role="none"><a class="nav-link" href="oborud/usilenie-yota/" role="menuitem">
                <i class="fas fa-broadcast-tower fa-fw"></i> Усиление сигнала 3G/4G</a></li>
        </ul>

    </div>




    <div class=" shadow-sm mt-3 mb-5 bg-default rounded list-group lead text-primary col-11 m-0 p-0">
        <a href="blog/" class="list-group-item list-group-item-action list-group-item-light text-primary"><i class="far fa-newspaper"></i> Новости</a>
        <a href="texpodderzhka/" class="list-group-item list-group-item-action list-group-item-light text-primary"><i class="fas fa-headset"></i> Техподдержка</a>
        <a href="slovar/" class="list-group-item list-group-item-action list-group-item-light text-primary"><i class="fas fa-info-circle"></i> Словарь CCTV </a>
        <a href="ustanovka-video/obslugivanie.html" class="list-group-item list-group-item-action list-group-item-light text-primary"><i class="fas fa-tools"></i> Обслуживание </a>
        <a href="proectirovanie/" class="list-group-item list-group-item-action list-group-item-light text-primary"><i class="fas fa-pencil-ruler"></i> Проектирование </a>
        <a href="fotoalbom/" class="list-group-item list-group-item-action list-group-item-light text-primary"><i class="far fa-images"></i> Фотоальбом </a>
        <a href="videogalereya.html" class="list-group-item list-group-item-action list-group-item-light text-primary"><i class="fas fa-photo-video"></i> Видеогалерея </a>
        <a href="o-kompani/otdel-kontrolya-kachestva.html" class="list-group-item list-group-item-action list-group-item-light text-primary"><i class="fas fa-shield-alt"></i> Контроль качества &nbsp;</a>
    </div>
</div>
</div>