<div class="text-center">
    <h1 class="m-4">Видеонаблюдение в Москве
    </h1>
    <div class="row m-3">
        <a class="col-6"  href=""><button type="button" class="col-12 btn btn-outline-dark">Установка видеонаблюдения</button></a>
        <a class="col-6" href=""><button type="button" class="col-12 btn btn-outline-dark">Каталог оборудования</button></a>
        <a class="col-6"  href=""><button type="button" class="col-12 btn btn-outline-dark">Цифровое телевидение</button></a>
        <a class="col-6" href=""><button type="button" class="col-12 btn btn-outline-dark">Усилитель 4G</button></a>
        <a class="col-6"  href=""><button type="button" class="col-12 btn btn-outline-dark">Сигнализация</button></a>
        <a class="col-6" href=""><button type="button" class="col-12 btn btn-outline-dark">Контроль доступа</button></a>
        <a class="col-6"  href=""><button type="button" class="col-12 btn btn-outline-dark">Локальные сети</button></a>
        <a class="col-6" href=""><button type="button" class="col-12 btn btn-outline-dark">Бесшовный вайфай</button></a>

    </div>
</div>
<div class="text-center">
    <h2 class="m-3">Для Доме</h2>
    <div class="row">

        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
    </div>
</div>

<div class="text-center">
    <h2 class="m-3">Для бизнеса</h2>
    <div class="row">

        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
        <a class="col-3 my-2" href=""><button type="button" class="col-12 btn btn-primary">Комплекты с установкой</button></a>
    </div>