<div class="col-3 col-md-3   p-0">

    <div id="jquery-accordion-menu" class="jquery-accordion-menu black  m-0 p-0">
        <div class="jquery-accordion-menu-header" id="form"></div>
        <ul id="demo-list">
            <li class="active"><a href="#"><i class="fa fa-home"></i>Готовые комплекты </a></li>
            <li><a href="#"><i class="bi-alarm"></i>Тепловизоры температуры </a></li>
            <li><a href="#"><i class="fa fa-cog"></i>Системы видеоаналитики </a>
                <span class="jquery-accordion-menu-label"> </span>
            </li>
            <li><a href="#"><i class="fa fa-cog"></i>Видеокамеры </a>
                <ul class="submenu">
                    <li><a href="#">Web Design </a></li>
                    <li><a href="#">Hosting </a></li>
                    <li><a href="#">Design </a>
                        <ul class="submenu">
                            <li><a href="#">Graphics </a></li>
                            <li><a href="#">Vectors </a></li>
                            <li><a href="#">Photoshop </a></li>
                            <li><a href="#">Fonts </a></li>
                        </ul>
                    </li>
                    <li><a href="#">Consulting </a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-cog"></i>Видеорегистраторы </a>
                <ul class="submenu">
                    <li><a href="#">Web Design </a></li>
                    <li><a href="#">Hosting </a></li>
                    <li><a href="#">Design </a>
                        <ul class="submenu">
                            <li><a href="#">Graphics </a></li>
                            <li><a href="#">Vectors </a></li>
                            <li><a href="#">Photoshop </a></li>
                            <li><a href="#">Fonts </a></li>
                        </ul>
                    </li>
                    <li><a href="#">Consulting </a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-home"></i>Видеодомофоны </a></li>
            <li><a href="#"><i class="fa fa-suitcase"></i>Контроль доступа </a>
                <ul class="submenu">
                    <li><a href="#">Web Design </a></li>
                    <li><a href="#">Graphics </a>
                        <span class="jquery-accordion-menu-label">10 </span>
                    </li>
                    <li><a href="#">Photoshop </a></li>
                    <li><a href="#">Programming </a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-user"></i>Сигнализация </a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>Сетевое оборудование </a></li>
            <li><a href=""><i class="fa fa-comment"></i>Сетевое оборудование</a></li>
        </ul>
        <div class="jquery-accordion-menu-footer">
            Footer
        </div>
    </div>

</div>