<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleInterval" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleInterval" data-slide-to="1"></li>
        <li data-target="#carouselExampleInterval" data-slide-to="2"></li>
        <li data-target="#carouselExampleInterval" data-slide-to="3"></li>
        <li data-target="#carouselExampleInterval" data-slide-to="4"></li>


    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/slaider/cctv-business-3-w1024.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Метка первого слайда</h5>
                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/slaider/cctv-business-8-w1024.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Метка первого слайда</h5>
                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/slaider/cctv-business-9-w1024.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Метка первого слайда</h5>
                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/slaider/industry-dahua-w1024.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Метка первого слайда</h5>
                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/slaider/industry-hikvision.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Метка первого слайда</h5>
                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div>